<section>
    <div class="container">
       <div class="row">
           <a href="/admin/add-product" class="btn btn-success mt-4 mb-4 p-2 ms-auto" style="font-size: 1.01em;width:10%">Add Product</a>
       </div>
        <table class="table table-striped" id="products-table" style="margin-top: 20px;">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.desc}}</td>
                    <td>{{this.price}}</td>
                    <td><img style="width:50px;height: 50px;" src="/images/product-images/{{this._id}}.jpg" alt=""></td>
                    <td>
                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary ">Edit</a>
                        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" 
                        onclick="return confirm('Do u want to delete {{this.name}}?' )">Delete</a>
                    </td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>

        

        
    </div>
</section>

<script>
    $(document).ready( function () {
    $('#products-table').DataTable();
} );
</script>