
    <h1 class="text-center mt-3">Your Shopping Cart</h1>

    
    
    {{!-- {{#each products}}
    <div class="row mt-5 col-md-12  ">

        <div class="col-md-2">
            <img src="/images/product-images/{{this.item}}.jpg" alt="" style="width: 12.5em;height:18.75em">
        </div>
        <div class="col-md-10">
            {{#each product}}
            <h2>{{this.name}}</h2>
            
            <h4>Rs. {{this.price}}</h4> <br>
            {{/each}}
 
            
            
        </div>
    </div>
    {{/each}} --}}
    {{!-- <div class="container">
        <table class="col-md-12 table table-striped">
            <thead>
                <th scope="col">Item</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </thead>
            {{#each products}}
            <tbody class="p-3">
                <tr>
                    <td><img src="/images/product-images/{{this.item}}.jpg" style="width: 75px; height:100px" alt=""></td>
                    {{#each product}}
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    {{/each}}
                    <td>{{this.quantity}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div> --}}
    <div class="container">
    <table class="table mt-4">
            <thead>
                <tr>
                    
                    <th scope="col">Item</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    
                    <th scope="col"></th>
                    <th scope="col"></th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    
                    <td><img src="/images/product-images/{{this.product._id}}.jpg" style="width: 75px; height:100px" alt=""></td>
                    <td>{{this.product.name}}</td>
                    <td>Rs. {{this.product.price}}</td>
                    
                    
                    
                    <td class="cart-product-quantity" width="130px">
                        <div class="input-group quantity">
                            <div class="input-group-prepend decrement-btn" style="cursor: pointer">
                                <button class="input-group-text btn btn-danger"
                                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1,'{{../user._id}}')">-</button>
                            </div>
                            <input type="text" id="{{this.product._id}}" class="qty-input form-control text-center" 
                            style="border: none; pointer-events:none;" 
                            value='{{this.quantity}}' >
                            <div class="input-group-append increment-btn" style="cursor: pointer">
                                <button class="input-group-text btn btn-success"
                                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1,'{{../user._id}}')">+</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        
                        <button onclick="removeItem('{{this._id}}','{{this.product._id}}')" 
                        class="btn border border-danger ms-3 " >
                            <svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                                viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        
                        </button>
                    </td>
                    
                </tr>
                {{/each}}
                
            </tbody>
        </table>
        <hr>
        <div class="d-flex justify-content-end">
            <div class="mt-4 pe-4 pb-5">
                <h4>Total Amount : Rs. <span id="total">{{cartTotal}}</span></h4> <br>
                <a href="/place-order" class="btn btn-success w-100">PLACE ORDER</a>
            </div>
        </div>
    
    </div>

<script>
    
    
</script>